body{
    margin: 0px;
}
#header{
    text-align: center;
}
#logo{
    width: 250px;
    height: auto;
}
#menu-bar{
    text-align: center;
    background-color: cadetblue;
}
#menu-bar li{
    display: inline-block;
    padding: 15px 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
#container{
    text-align: center;
    padding: 50px 100px;
}
#about-img{
    width: 100%;
}
p{
    text-align: justify;

}
.sticky{
    position:fixed;
    top: 0;
    width: 100%;
}